<%= form_with(model: issue) do |form|%>
  <% if issue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block"%>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <div class="form-control">
      <%= form.rich_text_area :body %>
    </div>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(*get_select_options(issue, :status)), {}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.select :priority, options_for_select(*get_select_options(issue, :priority)), {}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :assignee_id, style: "display: block" %>
    <%= form.select :assignee_id, options_for_select(*get_select_options(issue, :assignee_id)), { include_blank: true }, { class: "form-select" } %>
  </div>

  <div>
    <br>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
