<div class="container">
  <%= render @issue %>


  <div>
    <br>
    <%= link_to "Edit this issue", edit_issue_path(@issue), class:"btn btn-secondary me-2" %>
    <%= link_to "Back to issues", issues_path, class:"btn btn-secondary me-2" %>

    <% if current_user == @issue.author %>
      <br>
      <br>
      <%= button_to "Destroy this issue", @issue, method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>


<div class="container">
  <br />
  <h2> Changes </h1>

  <div class="list-group">
    <br />
    <% @issue.versions.each do |version| %>
      <%= render 'issue_changes/issue_change', issue: @issue, version: version %>
      <% end %>
  </div>
</div>


<div class="container">
  <br />
  <h2> Comments </h1>

  <% @comments.each do |comment| %>
    <br />
    <%= render 'comments/comment', issue: @issue, comment: comment %>
  <% end %>

  <br />
  <%= render 'comments/form', issue: @issue, comment: @issue.comments.build, submit_label: "Comment" %>
  <br />
</div>
